* text=auto !eol
bin/apogee1m -text
bin/apogeeThar.py -text
bin/apogeeTharPlot.py -text
bin/apogeeql -text
bin/aptest -text
bin/fix_missing_bzero.py -text
bin/list_ap1 -text
bin/plugmapm2a.py -text
bin/readme.txt -text
bin/talk2ql.py -text
etc/apogeeql.cfg -text
python/apogeeql/1m/CallEditFitsFunc.py -text
python/apogeeql/1m/StatFunc1m.py -text
python/apogeeql/1m/apogee1m.py -text
python/apogeeql/Commands/__init__.py -text
python/apogeeql/Commands/apogeeqlCmd.py -text
python/apogeeql/__init__.py -text
python/apogeeql/apogeeql_main.py -text
/setup.py -text
ups/apogeeql.table -text
